.App {
  text-align: center;
}

body {
  background-color: #0052d0 !important;
}

/* Custom Fonts */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../public/fonts/IBM Fonts/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500; /* Noraml */
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../public/fonts/IBM Fonts/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../public/fonts/IBM Fonts/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("../public/fonts/IBM Fonts/IBMPlexSansArabic-Bold.ttf");
  font-weight: bold;
}
/* Custom Fonts */
